body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: #e3e3e3;
}
.menu{
  background-color: white;
  padding-top: 20px;
  list-style:none;
  padding-bottom: 5px;
  float:left;
  padding-left: 200px;
  border-bottom:2px solid orange;
  width: 1299px;
  }
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }

.menu li a{color:black ; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:orange;
color:#fff;
border-bottom: 2px;
text-shadow:0px 0px 5px #fff;

}
.fale{
  margin-left: 170px;
  border-right: none!important;
}
h6, .bg{
  display: flex;

}
.bg{
  background: orange;
  margin-right: 5px;
  margin-left: 5px;
}

h6{
  margin-left: 550px;
}
.logo img{
  width: 200px;
  margin-right: 730px;
}
.usuario, .carrinho{
  margin-top: 30px;
  margin-left: 60px;
}
.div-flex{
  display: flex;
  background-color: white;
}
.div-flex2{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  
}

.card, .descricao, .preco{
  background-color: white;
}
.descricao{
  color: #837e7e;
  align-items: center;
  text-align: center;
}
.titulo, .preco{
  align-items: center;
  text-align: center;
}

.card{
  width: 250px;
  border-radius: 5px;
  margin: 10px;
  height: 400px;

}
.comprar{
  cursor: pointer;
  color: black!important;
  text-decoration: none!important;
}

.card img{
  height: 150px;
  position: center;
  border-radius: 5px;
  margin-left: 50px;
}

.botoes{
  background-color: #e6522d;
  justify-content: none;
  color: white!important;
  width: 150px;
  border-color: #e6522d;
  padding: 8px;
  border-radius: 5px;
  margin-left: 50px;

}

.botoes p{
  color: white!important;
  text-decoration: none!important;
  
}
.botoes:hover{
  cursor: pointer;
  background-color: #d14c2b;
  border-color: #d14c2b;
  font-size: 15px;
  transition: 0.5s;
}

.icon-edit{
  font-size: 30px;
  color: #837e7e!important;
  align-items: right;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}
.carrinho b{
  color: black!important;

}
.card , h2{
  padding-top: 1px;
}

.edit-img img{
 height: 100px;
 padding: none!important;
 margin: 0;
}

.btn-add{
  color: white;
  background-color: #e6522d;
  border: none!important;
  width: 35px!important;
  height: 35px!important;
  border-radius: 5px;
  margin: 10px!important;
  padding: 10px;
}

html{
  background-image: url(../src/images/fundo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.container{
  width: 100%;
}
.pad-10{
  padding-top: 10px;
}

.App{
  width: 450px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.439);
  border-radius: 5px;
  margin-left: 35%;
  margin-top: 4%;
}

.container img, input, button{
  margin-left: 125px;
}
.container input, button{
  border-radius: 100px;
  border: none;
  width: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.439);
  margin-bottom: 5px;
}
.container button{
  background-color: orange;
  color: white;
  width: 48%;
}
.container button:hover{
  background-color: rgb(255, 136, 0);
  cursor: pointer;
  color: white;
}
.input1 {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
}


.input2 {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  
}
input:focus {
  outline: 1px solid orange;
}
.input3 {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  
}
.input4 {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  
}

.bg-carrinho{
  padding-bottom: 20px;
}
